includes:
  - vendor/phpstan/phpstan-symfony/extension.neon
  - vendor/phpstan/phpstan-doctrine/extension.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
  level: max

  paths:
    - src
    - tests
    - config

  bootstrapFiles:
    - vendor/autoload.php

  excludePaths:
    - */config/reference.php
    - */var/*
    - */vendor/*
    - */public/build/*

  symfony:
    containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
